{% extends 'base.html' %}

{% block content %}
{% if reviews %}
        {% if user.is_authenticated %}
            <div style="margin: 10px;">
                <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}"><b>Add a car review</b></a>
            </div>
        {% endif %}
    <div class="card-colum w-25 p-4">
        {% for review in reviews %}
        <div class="card mt-2 p-2 bg-light">
            <img src="{{MEDIA_URL}}/emoji/positive.png" alt="" class="card-img-left w-25">
            <div class="card-body">
                <h3 class="card-title">{{review.name}}</h3>
                <h3 class="car-year">{{review.car_year}}</h3>
                <p class="text">{{review.review}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}